# Build
bin/
obj/

# Rider
.idea/
*.sln.iml
.idea/.idea.MedicalAppointment.Api/.idea/encodings.xml

# Visual Studio
.vs/

# VS Code
.vscode/

# User files
*.user
*.suo

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Environment
.env
appsettings.Development.json